.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: scroll;
}

.total {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.total,
.actions {
  color: #03045e;
}

.total span {
  padding-left: 1rem;
}
.secondary {
  color: #00b4d8;
}

.primary {
  color: #0077b6;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #03045e;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  color: #03045e;
  margin-top: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #0077b6;
  border-color: #0077b6;
  color: white;
}

.actions .button--alt {
  color: #03045e;
}

.actions .button {
  background-color: #03045e;
  color: white;
}

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 768px) {
  .logo img {
    display: none;
  }
}

.logo img {
  width: 10rem;
  height: 10rem;
}

.checkout {
  text-align: right;
  margin-right: 2rem;
}
